# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Development
.vscode/
.idea/
build/
dist/
outputs/

# Environment
.*env
*.env

# Data and Storage
data/
chroma*/
vector_store/

# System
.DS_Store
Thumbs.db

# Logs and Temporary
*.log
temp*
TODO*
